head
  title gwn
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale-1')
  meta(name='description' content='Lightweight Git web viewer')
  link(rel='icon' type='image/png' href='data:image/png;base64,')
  style
    include style.css
