doctype html
html
  include head.pug
  body
    h1
      a(href='/') /
    ul
      each r in repos
        li
          a(href=r.name)= r.name
          span  &mdash; #{r.message} &mdash; #{r.author} &mdash; #{r.age}
